section > main article {
  padding: 100px 0 200px;
}
section > main article:first-child:last-child {
  padding: 0;
}
section > main article + div {
  height: 100vh;
  min-height: 500px;
}
section > main div a[href="/?variant=past_posts"][role="link"] > span {
  font-size: 50px;
  line-height: 4;
}
@media screen and (max-width: 1160px) {
  section
    > main
    > div:first-child
    > div:first-child
    > div:first-child
    > div:first-child {
    opacity: 0.5;
  }
}
@media screen and (min-width: 1160px) {
  section > main > div:first-child > div:last-child:nth-child(2) {
    display: none;
  }
  section > main > div:first-child > div:first-child > div > div:first-child {
    opacity: 0.5;
  }
}
